// Login

$background_login: #f9f9f9;

//

$preto: #2b2b2b;
$cinza: rgba(0, 0, 0, 0.54);
$cinza_placeholder: rgba(0, 0, 0, 0.3);

$cor_primaria_neutra: #32a9ff;

$cinza_rodape: #3a3a3a;

$cor_primaria_inema: #86cab1;

$cor_primaria_sema: #5da3e3;
